.different {
  padding: 120px 0;
  background-color: #f0f5ff;

  &__inner {
    margin: 0 auto;
    width: 100%;
    max-width: 792px;
  }
}

.swiper {
  position: relative;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-wrapper {
  box-sizing: content-box;
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  transition-property: transform;
}

.swiper-slide {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  transition-property: transform;

  h3:first-of-type {
    @include rv-line;

    margin: 0 auto 90px;
    text-align: center;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  h3:last-of-type {
    margin: 0 auto 32px;
    text-align: center;
  }

  p {
    margin-bottom: 72px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #394b65;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border: 1px solid #bed4ff;
  border-radius: 50%;
  background-color: #f0f5ff;
  transform: translateY(-50%);

  svg {
    path {
      transition: all 0.3s;
    }
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-disabled {
  svg {
    path {
      stroke: #abb9ca;
    }
  }
}

.swiper-pagination {
  z-index: 5;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 1px solid #09268d;
  border-radius: 32px;
  background-color: transparent;
  transition: all 0.3s;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #09268d;
}

.request {
  padding: 120px 0;

  h3 {
    @include rv-line;

    margin: 0 auto 106px;
    text-align: center;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
