.footer {
  background-color: #f0f5ff;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include m($md) {
      flex-direction: column;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    width: 45%;
    border-right: 1px solid rgba(#abb9ca, 0.32);

    @include m($xl) {
      padding: 60px 0;
    }

    @include m($lg) {
      padding: 48px 0 32px;
      width: 35%;
    }

    @include m($md) {
      margin-bottom: 32px;
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #abb9ca;
    }

    @include m($sm) {
      flex-direction: column;
    }
  }

  .menu-footer {
    margin: 0 auto;

    ul {
      li {
        a {
          width: max-content;
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
          text-transform: uppercase;
          transition: all 0.3s;

          &:hover {
            color: #09268d;
          }

          @include m($md) {
            font-weight: 500;
          }

          @include m($sm) {
            width: fit-content;
          }
        }

        &:not(:last-child) {
          margin-bottom: 24px;

          @include m($sm) {
            margin: 0;
          }
        }

        @include m($md) {
          margin-right: 51px;
        }

        @include m($sm) {
          margin: 0;
        }
      }

      @include m($md) {
        display: flex;
        flex-wrap: wrap;
      }

      @include m($sm) {
        display: grid;
        grid-gap: 24px 51px;
        grid-template-columns: 1fr 1fr;
      }

      @include m(400) {
        grid-gap: 24px 41px;
      }
    }

    @include m($md) {
      margin: 0 0 0 40px;
    }

    @include m($sm) {
      margin: 0;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    width: 55%;

    @include m($xl) {
      padding: 60px 0;
    }

    @include m($lg) {
      padding: 48px 0 32px;
      width: 65%;
    }

    @include m($md) {
      margin-bottom: 32px;
      padding: 0 0 32px;
      width: 100%;
      border-bottom: 1px solid #abb9ca;
    }
  }

  &__box {
    display: flex;
    width: 100%;
    max-width: 473px;

    @include m($lg) {
      justify-content: flex-end;
      max-width: 443px;
    }

    @include m($md) {
      justify-content: space-around;
      max-width: 100%;
    }

    @include m($sm) {
      flex-direction: column;
    }
  }

  &__social {
    span {
      margin-bottom: 8px !important;
    }

    ul {
      display: flex;

      li {
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
          margin-right: 16px;

          @include m($lg) {
            margin-right: 10px;
          }

          @include m($md) {
            margin-right: 16px;
          }
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          border: 1px solid #abb9ca;
          border-radius: 50%;
          transition: all 0.3s;

          svg {
            path {
              transition: all 0.3s;
            }
          }

          &:hover {
            border: 1px solid #09268d;

            svg {
              path {
                fill: #09268d;
              }
            }
          }
        }
      }
    }
  }

  &__contact {
    margin-right: 54px;

    span {
      margin-bottom: 8px !important;
    }

    a,
    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      text-transform: uppercase;
      transition: all 0.3s;

      &:hover {
        color: #09268d;
      }

      @include m($md) {
        font-weight: 500;
      }
    }

    p {
      &:hover {
        cursor: pointer;
      }
    }

    li {
      &:not(:last-child) {
        margin-bottom: 40px;

        @include m($lg) {
          margin-bottom: 30px;
        }

        @include m($md) {
          margin-bottom: 24px;
        }
      }
    }

    @include m($lg) {
      margin-right: 25px;
    }

    @include m($md) {
      margin-right: 0;
    }

    @include m($sm) {
      margin-bottom: 32px;
    }
  }

  span {
    display: block;
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 20px;
    color: #767e8b;
  }

  &__copy {
    display: flex;
    padding: 24px 0;
    border-top: 1px solid rgba(#abb9ca, 0.32);
    font-size: 12px;
    line-height: 20px;

    ul {
      display: flex;
      width: 45%;

      li {
        + li {
          position: relative;
          margin-left: 24px;

          &::after {
            content: "";
            position: absolute;
            left: -12px;
            top: 50%;
            width: 1px;
            height: 7px;
            background-color: rgba(#011d47, 0.25);
            transform: translateY(-50%);
          }
        }
      }

      @include m($lg) {
        width: 35%;
      }

      @include m($md) {
        justify-content: center;
        margin-bottom: 16px;
        width: 100%;
      }

      @include m($sm) {
        justify-content: flex-start;
      }
    }

    @include m($md) {
      flex-direction: column;
      padding: 0 0 48px;
      border-top: none;
    }
  }

  &__copy-inner {
    width: 55%;

    @include m($lg) {
      width: 65%;
    }

    @include m($md) {
      width: 100%;
    }
  }

  &__copy-box {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 473px;

    p:first-of-type {
      margin-right: 96px;

      @include m($lg) {
        margin-right: 0;
        margin-left: 11px;
      }

      @include m($md) {
        margin-left: 0;
      }
    }

    p {
      a {
        display: inline-block;
        margin-left: 3px;
        transition: all 0.3s;

        &:hover {
          color: #09268d;
        }
      }

      @include m($md) {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }

    @include m($lg) {
      justify-content: space-between;
      max-width: 443px;
    }

    @include m($md) {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
    }

    @include m($sm) {
      align-items: flex-start;
    }
  }
}

.logo-footer {
  width: fit-content;
  min-width: max-content;
  max-width: 100%;

  @include m($sm) {
    margin-bottom: 32px;
  }
}