html,
body {
  height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.04em;
  color: #011d47;
  background-color: #fff;
  cursor: default;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  max-width: 1232px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

h2,
h3,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.06em;
}

h2 {
  font-size: 56px;
  line-height: 64px;
}

h3 {
  font-size: 48px;
  line-height: 64px;
}

h5 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.04em;
}

h6 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.04em;
}

.rv-navigation {
  position: sticky;
  top: 110px;
  margin-right: 15px;
  height: fit-content;

  span {
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 24px;
    color: #394b65;
  }

  ul {
    li {
      line-height: 20px;

      &::after {
        display: none;
      }

      a {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #011d47;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.rv-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 33px;
  width: fit-content;
  min-width: fit-content;
  min-height: 62px;
  max-height: 62px;
  background-color: #011d47;
  transition: all 0.3s;

  p {
    height: 62px;
    font-weight: 600;
    font-size: 14px;
    line-height: 62px;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.3s;
  }

  &__wrap {
    height: 62px;
    overflow: hidden;
  }

  &:focus,
  &:hover,
  &:active,
  &:target, {
    text-decoration: none;
    color: #fff;
  }

  &:hover {
    background-color: #09268d;

    p:first-of-type {
      transform: translateY(-100%);
    }

    p:last-of-type {
      transform: translateY(-100%);
    }
  }

  &:disabled {
    background-color: #abb9ca;

    p:first-of-type {
      transform: translateY(0);
    }

    p:last-of-type {
      transform: translateY(0);
    }
  }
}

.rv-secondary {
  border: 1px solid #abb9ca;
  background-color: #fff;

  p {
    color: #011d47;
  }

  &:hover {
    background-color: #f0f5ff;

    p {
      color: #09268d;
    }
  }

  &:disabled {
    background-color: #fff;

    p:first-of-type {
      transform: translateY(0);
    }

    p:last-of-type {
      transform: translateY(0);
    }

    p {
      color: #abb9ca;
    }
  }
}

.rv-ghost {
  padding: 0 24px;
  min-height: 70px;
  max-height: 70px;
  border: 1px solid #abb9ca;
  background-color: transparent;

  .rv-button__wrap {
    height: 70px;
  }

  p {
    height: 70px;
    line-height: 70px;
    color: #011d47;
  }

  &:hover {
    background-color: #f0f5ff;

    p:first-of-type {
      transform: translateY(-100%);
    }

    p:last-of-type {
      transform: translateY(-100%);
    }

    p {
      color: #09268d;
    }
  }

  &:disabled {
    background-color: #fff;

    p:first-of-type {
      transform: translateY(0);
    }

    p:last-of-type {
      transform: translateY(0);
    }

    p {
      color: #abb9ca;
    }
  }
}

.preview {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 88px;
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 64%;
    height: 100%;
    background-color: rgba(#011d47, 0.72);
  }

  p {
    margin-bottom: 16px;
    max-width: 688px;
    color: #fff;
  }

  h2 {
    max-width: 688px;
    color: #fff;
  }

  .container {
    z-index: 5;
  }
}

.big-preview {
  height: 600px;
}

.qualify {
  margin-right: 15px;
  width: 100%;
  max-width: 384px;

  h6 {
    margin-bottom: 24px;
  }

  span {
    display: block;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #394b65;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  p:not(:first-of-type) {
    margin-top: 24px;
  }
}

.back-button {
  display: flex;
  align-items: center;
  margin-bottom: 32px !important;
  height: 24px;

  svg {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }

  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #011d47 !important;
  }
}

.other {
  padding: 120px 0;
  border-top: 1px solid #abb9ca;

  &__main {
    display: flex;
    justify-content: space-between;
  }

  .rv-ghost {
    margin-top: 10px;
  }

  h3 {
    @include rv-line;

    margin-bottom: 82px;
  }

  ul {
    display: grid;
    grid-gap: 0 24px;
    grid-template-columns: 1fr 1fr;

    li {
      a {
        width: 100%;
      }

      img {
        width: 100%;
        height: 382px;
        max-height: 382px;
        object-fit: cover;
      }

      &:first-child {
        .blog-item__descr {
          p {
            color: #011d47;
          }
        }
      }
    }

    .blog-item__descr {
      margin: 24px 0 16px;

      p {
        + p {
          &::after {
            background-color: #767e8b;
          }
        }
      }
    }
  }
}

.rv-popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(#011d47, 0.4);
  transition: all 0.3s;

  &__wrapper {
    position: relative;
    padding: 56px;
    max-width: 551px;
    text-align: center;
    background-color: #fff;

    h5 {
      margin-bottom: 16px;
    }

    .rv-button {
      margin: 0 auto;
    }
  }

  &__text {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #767e8b;
  }

  &__close {
    position: absolute;
    right: 24px;
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
  }
}

.rv-popup--active {
  visibility: visible;
  opacity: 1;
}

.request__contact {
  position: relative;
  margin: 0 auto;
  max-width: 588px;

  .career-input-block {
    display: grid;
    grid-gap: 32px 24px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 56px;

    label {
      margin: 0;
    }

    .dad-active-input {
      .text-label-span {
        top: 0;
      }
    }

    .text-label-span {
      position: absolute;
      left: 0;
      top: 28px;
      width: 100%;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: -0.04em;
      color: #767e8b;
      transition: all 0.3s;
    }

    .wpcf7-form-control-wrap {
      position: absolute;
      left: 0;
      top: 28px;
      width: 100%;
      height: 24px;
    }
  }

  p {
    width: 100%;
  }

  br {
    display: none;
  }

  span {
    display: block;
    width: 100%;
  }

  .textarea {
    width: 100%;
    height: 64px;
  }

  label {
    position: relative;
    display: block;
    margin-bottom: 32px;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid #767e8b;

    input {
      padding: 0;
      width: 100%;
      height: 24px;
      outline: none;
      border: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.04em;
      color: #011d47;
      background-color: transparent;
    }
  }

  .wpcf7-submit {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 33px;
    width: fit-content;
    height: 62px;
    min-width: fit-content;
    min-height: 62px;
    max-height: 62px;
    background-color: #011d47;
    transition: all 0.3s;

    p {
      height: 62px;
      font-weight: 600;
      font-size: 14px;
      line-height: 62px;
      text-transform: uppercase;
      color: #fff;
      transition: all 0.3s;
    }

    &__wrap {
      height: 62px;
      overflow: hidden;
    }

    &:focus,
    &:hover,
    &:active,
    &:target, {
      text-decoration: none;
      color: #fff;
    }

    &:hover {
      background-color: #09268d;

      p:first-of-type {
        transform: translateY(-100%);
      }

      p:last-of-type {
        transform: translateY(-100%);
      }
    }

    &:disabled {
      background-color: #abb9ca;

      p:first-of-type {
        transform: translateY(0);
      }

      p:last-of-type {
        transform: translateY(0);
      }
    }
  }

  .wpcf7-form-control .wpcf7-select {
    margin-bottom: 32px;
    width: 100%;
    border: none;
  }

  .wpcf7-list-item {
    display: block;
    margin: 0;

    label {
      position: relative;
      margin-bottom: 0;
      height: auto;
      border: none;

      input {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        width: 24px;
        height: 24px;
        border: 1px solid #011d47;
        border-radius: 50%;
        background-color: transparent;
        transition: all 0.3s;

        &:focus {
          background-color: #011d47;
        }
      }
    }

    .wpcf7-list-item-label {
      display: block;
      padding-left: 32px;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: -0.04em;
      color: #394b65;
    }
  }
}

.button-search__active {
  svg {
    path {
      stroke: #abb9ca;
    }
  }
}