.blog-item {
  padding: 160px 0 120px;

  h2 {
    margin-bottom: 32px;

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  &__descr {
    display: flex;
    margin-bottom: 45px;

    p {
      margin-bottom: 0 !important;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      text-transform: uppercase;
      color: #394b65;

      + p {
        position: relative;
        margin-left: 32px;

        &::after {
          content: "";
          position: absolute;
          left: -16px;
          top: 0;
          width: 1px;
          height: 22px;
          background-color: #abb9ca;
        }
      }
    }

    @include m($lg) {
      margin-bottom: 32px;
    }
  }

  .terms__wrapper {
    padding-top: 0;
    border-top: none;

    @include m($lg) {
      flex-direction: column;
    }
  }

  .terms__main {
    max-width: 792px;

    @include m($lg) {
      margin-bottom: 40px;
      max-width: 100%;
    }
  }

  &__contact {
    position: sticky;
    top: 110px;
    margin-left: 24px;
    height: fit-content;

    h6 {
      margin-bottom: 40px;

      @include m($lg) {
        margin-bottom: 24px;
      }
    }

    @include m($lg) {
      position: relative;
      top: 0;
      margin-right: 0;
      margin-left: 0;
      width: 100%;
    }
  }

  @include m($xl) {
    padding: 140px 0 85px;
  }

  @include m($lg) {
    padding: 120px 0 64px;
  }
}
