.blog {
  padding: 228px 0 120px;
  background-color: #f0f5ff;

  h2 {
    @include m($md) {
      margin-bottom: 24px;
    }
  }

  &__img {
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 382px;
      object-fit: cover;
      transform: scale(1);
      transition: all 0.3s;

      @include m($lg) {
        height: 320px;
      }

      @include m($md) {
        height: 224px;
      }
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;

    label {
      position: relative;
      margin: 0;
      height: 56px;

      button {
        position: absolute;
        left: 12px;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        transform: translateY(-50%);

        svg {
          path {
            transition: all 0.3s;
          }
        }
      }

      input {
        padding: 16px 16px 16px 50px;
        width: 588px;
        height: 56px;
        outline: none;
        border: 1px solid #bed4ff;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.04em;
        color: #011d47;
        background-color: #f0f5ff;
        transition: all 0.3s;

        &::placeholder {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: -0.04em;
          color: #767e8b;
        }

        &:active,
        &:focus {
          background-color: #fff;
        }

        &:disabled {
          border: 1px solid #abb9ca;
          background-color: #fff;

          &::placeholder {
            color: #abb9ca;
          }

          input {
            color: #abb9ca;
          }
        }

        @include m($lg) {
          width: 448px;
        }

        @include m($md) {
          width: 100%;
        }
      }

      @include m($md) {
        width: 100%;
      }
    }

    @include m($lg) {
      margin-bottom: 48px;
    }

    @include m($md) {
      flex-direction: column;
      margin-bottom: 32px;
    }
  }

  &__list {
    display: grid;
    grid-gap: 48px 26px;
    grid-template-columns: 1fr 1fr;
    padding-top: 48px;
    border-top: 1px solid #abb9ca;

    li {
      a {
        width: 100%;
        height: fit-content;

        &:hover {
          h5 {
            color: #09268d;
            background-size: 100% 90%;
          }

          img {
            transform: scale(1.04);
          }
        }
      }

      h5 {
        display: inline;
        width: calc(100%);
        color: #011d47;
        background-image: linear-gradient(transparent calc(100% - 2px), #09268d 2px);
        background-size: 0 90%;
        background-repeat: no-repeat;
        transition: all 0.3s;
      }

      &:nth-child(odd) {
        .blog-item__descr {
          p {
            color: #011d47;
          }
        }
      }
    }

    .blog-item__descr {
      margin: 24px 0 16px;

      p {
        + p {
          &::after {
            background-color: #767e8b;
          }
        }
      }

      @include m($lg) {
        margin: 24px 0 12px;
      }
    }

    @include m($lg) {
      padding-top: 40px;
    }

    @include m($md) {
      grid-gap: 40px 0;
      grid-template-columns: 1fr;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 88px;

    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border: 1px solid #abb9ca;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        background-color: transparent;
        transition: all 0.3s;

        svg {
          path {
            transition: all 0.3s;
          }
        }

        &:hover {
          border: 1px solid #011d47;
          color: #fff;
          background-color: #011d47;

          svg {
            path {
              stroke: #fff;
            }
          }
        }
      }

      + li {
        margin-left: 16px;

        @include m($md) {
          margin-left: 11px;
        }
      }
    }

    .pag-active {
      a {
        border: 1px solid #011d47;
        color: #fff;
        background-color: #011d47;
      }
    }

    .pag-inactive {
      a {
        svg {
          path {
            stroke: #abb9ca;
          }
        }

        &:hover {
          border: 1px solid #abb9ca;
          background-color: transparent;

          svg {
            path {
              stroke: #abb9ca;
            }
          }
        }
      }
    }

    @include m($lg) {
      margin-top: 66px;
    }

    @include m($md) {
      margin-top: 56px;
    }
  }

  @include m($xl) {
    padding: 180px 0 110px;
  }

  @include m($lg) {
    padding: 120px 0 99px;
  }
}

.blog__list-second {
  grid-gap: 48px 24px;
  grid-template-columns: 1fr 1fr 1fr;

  li {
    &:first-child {
      grid-column: 1 / -1;
    }
  }
}

.blog-contact {
  padding: 120px 0;

  h2 {
    @include rv-line;

    margin: 0 auto 74px;
    max-width: 696px;
    text-align: center;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .request__contact {
    .career-input-block {
      @include m($sm) {
        grid-gap: 24px 0;
        grid-template-columns: 1fr;
      }
    }
  }

  @include m($xl) {
    padding: 85px 0;
  }

  @include m($lg) {
    padding: 64px 0;
  }
}