.capital-info {
  padding: 120px 0;
  background-color: #f0f5ff;

  p {
    &:not(:last-child) {
      margin-bottom: 28px;

      @include m($xl) {
        margin-bottom: 26px;
      }
    }
  }

  @include m($xl) {
    padding: 85px 0;
  }

  @include m($lg) {
    padding: 64px 0;
  }
}

.capital-very {
  &__text {
    display: block;
    margin-bottom: 48px;

    @include m($lg) {
      margin-bottom: 40px;
    }

    @include m($md) {
      margin-bottom: 32px;
    }
  }

  .nav-tabs {
    li {
      a {
        padding: 22px 34px;
      }
    }
  }

  .tab-content {
    .tab-pane {
      p {
        margin-bottom: 24px;
      }

      a {
        position: relative;
        display: flex;
        align-items: center;
        padding-right: 32px;
        height: 24px;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        color: #09268d;

        &::after {
          content: url("../images/tab-arrow.svg");
          position: absolute;
          right: 0;
          top: 0;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.capital-very__mobile {
  .accordion-toggle {
    background-color: #f0f5ff;
  }

  .collapsed {
    background-color: #fff;
  }

  .panel-body {
    background-color: #f0f5ff;

    a {
      position: relative;
      display: flex;
      align-items: center;
      padding-right: 32px;
      height: 24px;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #09268d;

      &::after {
        content: url("../images/tab-arrow.svg");
        position: absolute;
        right: 0;
        top: 0;
        width: 24px;
        height: 24px;
      }
    }
  }
}