.locations {
  padding: 120px 0;
  background-color: #f0f5ff;

  h3 {
    @include rv-line;

    margin-bottom: 66px;

    @include m($lg) {
      margin-bottom: 58px;
    }
  }

  &__group {
    display: grid;
    grid-gap: 0 24px;
    grid-template-columns: 1fr 1fr 1fr;

    h5 {
      margin-bottom: 8px;
      max-width: 274px;

      @include m($md) {
        max-width: 100%;
      }
    }

    h6 {
      margin-bottom: 20px;
      color: #394b65;
    }

    p {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 24px;
      color: #767e8b;
    }

    a {
      width: fit-content;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #09268d;

      &:not(:first-of-type) {
        margin-top: 8px;
      }
    }

    @include m(820) {
      grid-gap: 24px 0;
      grid-template-columns: 1fr;
    }
  }

  @include m($xl) {
    padding: 85px 0;
  }

  @include m($lg) {
    padding: 64px 0;
  }
}

.contact-box {
  padding: 120px 0;

  .qualify {
    margin-right: 30px;

    span {
      color: #767e8b;
    }

    @include m($md) {
      margin-right: 0;
      margin-bottom: 30px;
      max-width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include m($md) {
      flex-direction: column;
    }
  }

  &__contact {
    width: 100%;
  }

  .request__contact {
    max-width: 100%;
  }

  @include m($xl) {
    padding: 85px 0;
  }

  @include m($lg) {
    padding: 64px 0;
  }
}