.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 30;
  background-color: #fff;
}

.current_page_item {
  a {
    border-bottom: 4px solid #09268d !important;
    color: #09268d !important;
  }
}

.menu-item-type-custom {
  a {
    position: relative;
    padding-right: 16px;
    border-bottom: 4px solid transparent;
    color: #011d47;

    &::before {
      content: url("../images/drop-arrow-blue.svg");
      position: absolute;
      right: 0;
      top: 50%;
      width: 12px;
      height: 12px;
      font-size: 0;
      line-height: 1;
      transform: translateY(-50%);
      transition: all 0.4s;
    }
  }

  &:hover {
    .sub-menu {
      visibility: visible;
      opacity: 1;
    }

    a {
      &::before {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  @include m($lg) {
    display: none !important;
  }
}

.rv-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;

  .rv-button {
    p {
      @include m($lg) {
        height: 38px;
        line-height: 38px;
      }
    }

    &__wrap {
      @include m($lg) {
        height: 38px;
      }
    }

    @include m($lg) {
      margin-left: auto;
      padding: 0 16px;
      min-height: 38px;
      max-height: 38px;
    }
  }

  &__active-mobile {
    display: none !important;
    padding: 0 !important;

    .panel-group {
      margin-bottom: 0;
      width: 100%;
    }

    .panel {
      border: none;
      border-radius: 0;
      box-shadow: none;
    }

    .panel-body {
      padding: 0;

      a {
        border: none;
        text-transform: initial;
        color: #011d47;
        background-color: #f0f5ff;

        &:hover {
          border: none;
        }
      }
    }

    .panel-title {
      font-size: 18px;

      a {
        position: relative;
        padding: 24px 15px;
        color: #09268d;
        background-color: #f0f5ff;
        transition: all 0.3s;

        &::before {
          content: url("../images/drop-arrow-mob.svg");
          position: absolute;
          right: 15px;
          top: 50%;
          width: 16px;
          height: 16px;
          font-size: 0;
          line-height: 1;
          transform: translateY(-50%);
          transition: all 0.4s;
        }

        &:hover {
          &::before {
            content: url("../images/drop-arrow-mob.svg");
          }
        }
      }

      .collapsed {
        color: #011d47;

        &::before {
          content: url("../images/drop-arrow-mob-blue.svg");
          transform: translateY(-50%) rotate(180deg);
        }

        &:hover {
          color: #09268d;

          &::before {
            content: url("../images/drop-arrow-mob.svg");
          }
        }
      }
    }

    @include m($lg) {
      display: block !important;
    }
  }

  &__list {
    display: flex;
    height: 88px;

    li {
      position: relative;
      display: flex;
      align-items: center;

      + li {
        margin-left: 56px;

        @include m($xl) {
          margin-left: 48px;
        }

        @include m($lg) {
          margin-left: 0;
        }
      }

      a {
        display: flex;
        align-items: center;
        height: 100%;
        border-bottom: 4px solid transparent;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
        color: #011d47;
        transition: all 0.3s;

        &:hover {
          border-bottom: 4px solid #09268d;
          color: #09268d;
        }

        @include m($lg) {
          padding: 24px 15px;
          width: 100%;
          border-bottom: 1px solid #f0f5ff;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;

          &:hover {
            border-bottom: 1px solid #f0f5ff;
          }
        }
      }

      &:first-child {
        a {
          @include m($lg) {
            border-top: 1px solid #f0f5ff;
          }
        }
      }
    }

    @include m($lg) {
      position: absolute;
      left: 0;
      right: 0;
      top: 56px;
      bottom: 0;
      z-index: 40;
      flex-direction: column;
      padding-top: 32px;
      width: 100%;
      height: calc(100vh - 56px);
      background-color: #fff;
      transform: translateX(-200%);
      transition: all 0.3s;
    }
  }

  &__list--active {
    transform: none;
  }

  @include m($lg) {
    height: 56px;
  }
}

.sub-menu {
  position: absolute;
  top: 79px;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  padding: 24px;
  width: 100%;
  height: auto;
  background-color: #fff;
  filter: drop-shadow(0 2px 24px rgba(10, 22, 84, 0.1));
  transition: all 0.3s;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    transform: translateX(-50%);
  }

  li {
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    + li {
      margin-left: 0;
    }
  }

  a {
    padding-right: 0;
    border: none !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #011d47 !important;

    &::before {
      display: none;
    }

    &:hover {
      color: #09268d !important;
    }
  }
}

.burger {
  position: relative;
  display: none;
  margin-left: 23px;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;

  img {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.2s;

    &:first-of-type {
      visibility: hidden;
      opacity: 0;
    }
  }

  @include m($lg) {
    display: block;
  }
}

.burger--active {
  img {
    &:first-of-type {
      visibility: visible;
      opacity: 1;
    }

    &:last-of-type {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
  }

  @include m($lg) {
    width: 51px;
    height: 56px;
  }
}