.capital {
  padding: 120px 0;

  h3 {
    @include rv-line;

    margin-bottom: 82px;

    @include m($lg) {
      margin-bottom: 50px;
      color: #09268d;

      &::after {
        display: none;
      }
    }

    @include m($md) {
      margin-bottom: 32px;
    }
  }

  p {
    &:not(:last-child) {
      margin-bottom: 28px;

      @include m($xl) {
        margin-bottom: 26px;
      }
    }
  }

  @include m($xl) {
    padding: 85px 0;
  }

  @include m($lg) {
    padding: 64px 0;
  }
}

.property {
  padding: 120px 0;
  background-color: #f0f5ff;

  h3 {
    @include rv-line;

    margin-bottom: 82px;

    @include m($xl) {
      margin-bottom: 70px;
    }

    @include m($lg) {
      margin-bottom: 58px;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;

    @include m($md) {
      display: none;
    }
  }

  .nav-tabs {
    width: 100%;
    max-width: 486px;
    border-bottom: none;

    li {
      float: none;
      margin: 0;
      width: 100%;
      max-width: 486px;
      border-bottom: 1px solid #abb9ca;

      a {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 12px 24px;
        width: 100%;
        border: none;
        border-radius: 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        transition: all 0.3s;

        &:focus {
          background-color: #fff;
        }

        &:hover {
          background-color: #fff;
        }
      }

      &:first-child {
        border-top: 1px solid #abb9ca;
      }
    }

    .active {
      a {
        color: #011d47;
        background-color: #fff;

        &:focus {
          border: none;
          color: #011d47;
        }

        &:hover {
          border: none;
          color: #011d47;
        }
      }
    }

    @include m($xl) {
      max-width: 410px;
    }

    @include m($lg) {
      max-width: 50%;
    }
  }

  .tab-content {
    position: sticky;
    top: 110px;
    margin-left: 35px;
    height: fit-content;

    .tab-pane {
      max-width: 588px;

      p {
        max-width: 588px;
        color: #394b65;
      }
    }

    @include m($lg) {
      top: 76px;
      margin-left: 25px;
    }
  }

  @include m($xl) {
    padding: 85px 0;
  }

  @include m($lg) {
    padding: 64px 0;
  }
}

.loan {
  background-color: #fff;

  .nav-tabs {
    li {
      a {
        &:focus {
          background-color: #f0f5ff;
        }

        &:hover {
          background-color: #f0f5ff;
        }
      }
    }

    .active {
      a {
        background-color: #f0f5ff;

        &:focus {
          background-color: #f0f5ff;
        }

        &:hover {
          background-color: #f0f5ff;
        }
      }
    }
  }
}

.property-mobile {
  display: none;

  .accordion-toggle {
    padding: 30px 16px 16px;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #011d47;
    background-color: #fff;
    transition: background-color 0.1s, padding 0.3s;
  }

  .collapsed {
    padding: 30px 16px;
    background-color: transparent;
    transition: background-color 1s, padding 0.3s;
  }

  .panel-title {
    font-size: 24px;
  }

  .panel-group {
    margin: 0;
    border-top: 1px solid #abb9ca;
    border-right: none;
    border-bottom: none;
    border-left: none;
  }

  .panel-body {
    padding: 0 16px 30px;
    background-color: #fff;

    p {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.04em;
      color: #394b65;

      @include m($md) {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .panel {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #abb9ca;
    border-left: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;

    + .panel {
      margin: 0;
    }
  }

  @include m($md) {
    display: block;
  }
}