.hero {
  position: relative;
  z-index: 1;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
    width: 60%;
    height: 100%;
    background-color: rgba(#011d47, 0.72);

    @include m($lg) {
      width: 70%;
    }

    @include m(680) {
      width: 100%;
    }
  }

  .container {
    z-index: 5;
  }

  .rv-button {
    &__wrap {
      p {
        @include h(830) {
          height: 50px;
          line-height: 50px;
        }
      }

      @include h(830) {
        height: 50px;
      }
    }

    @include h(830) {
      min-height: 50px;
      max-height: 50px;
    }
  }

  &__wrapper {
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 88px;
    height: calc(100vh - 88px);
    max-width: 58%;
    color: #fff;

    h2 {
      margin-bottom: 40px;
      font-size: 44px;

      @include h(982) {
        margin-bottom: 20px;
      }

      @include h(830) {
        margin-bottom: 15px;
        font-size: 42px;
        line-height: 50px;
      }

      @include h(752) {
        font-size: 24px !important;
        line-height: 30px !important;
      }

      @include m($xl) {
        font-size: 42px;
        line-height: 50px;
      }

      @include m($lg) {
        font-size: 36px;
        line-height: 48px;
      }

      @include m(680) {
        margin-bottom: 24px;
      }
    }

    @include m($lg) {
      margin-top: 56px;
      height: calc(100vh - 56px);
      max-width: 68%;
    }

    @include m(680) {
      padding: 40px 0;
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  }
}

.rates {
  margin-bottom: 40px;
  padding: 20px;
  max-width: 484px;
  background-color: #011d47;

  h6 {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 22px !important;
    line-height: 30px !important;
    letter-spacing: -0.04em;
    color: #bed4ff;
  }

  ul {
    border-top: 1px solid rgba(#767e8b, 0.8);

    li {
      display: flex;
      justify-content: space-between;
      padding-top: 8px;
      font-size: 16px;

      &:not(:last-child) {
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(#767e8b, 0.8);

        @include h(917) {
          padding-bottom: 7px;
        }

        @include h(830) {
          padding-bottom: 5px;
        }
      }

      p,
      span {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;

        @include h(830) {
          font-size: 14px;
        }

        @include m(680) {
          font-size: 16px;
        }

        @include m($sm) {
          font-weight: 600;
          font-size: 12px;
          line-height: 24px;
          letter-spacing: -0.04em;
          text-align: right;
          text-transform: uppercase;
          color: #fff;
        }
      }

      p {
        text-transform: uppercase;
      }

      span {
        display: block;
        font-weight: 500;
      }

      @include h(917) {
        padding-top: 7px;
      }

      @include h(830) {
        padding-top: 5px;
      }
    }
  }

  @include m($lg) {
    max-width: 550px;
  }

  @include h($lg) {
    margin-bottom: 20px;
  }

  @include h(917) {
    padding: 14px;
  }

  @include m(680) {
    padding: 16px;
    width: 100%;
    max-width: 100%;
  }
}

.asset {
  padding: 120px 0 140px;

  h3 {
    @include rv-line;

    margin-right: 40px;
    margin-bottom: 26px;
    max-width: 894px;

    @include m($lg) {
      margin-right: 0;
      max-width: 100%;
    }
  }

  &__box {
    height: 30px;
    overflow: hidden;

    p {
      margin: 0 !important;
      font-weight: 600;
      font-size: 20px !important;
      line-height: 26px !important;
      letter-spacing: -0.04em;
      color: #09268d;
      transition: all 0.3s;
    }
  }

  &__main {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 56px;

    @include m($xl) {
      margin-bottom: 45px;
    }

    @include m($lg) {
      margin-bottom: 32px;
    }
  }

  .rv-secondary {
    padding: 0 24px;

    p {
      color: #09268d;
    }

    @include m($lg) {
      display: none;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

    p {
      margin-right: 20px;
      width: fit-content;
      max-width: 384px;

      @include m($xl) {
        margin-right: 40px;
        font-size: 18px;
        line-height: 26px;
      }

      @include m($lg) {
        margin-right: 0;
        max-width: 100%;
      }
    }

    ul {
      display: grid;
      grid-gap: 24px 60px;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;

      li {
        a {
          position: relative;
          display: block;
          padding: 0 0 10px 25px;
          width: fit-content;
          height: 100%;
          border-bottom: 1px solid transparent;
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          color: #09268d;
          transition: all 0.3s;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 12px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #09268d;
          }

          &:hover {
            border-bottom: 1px solid #09268d;

            p:first-of-type {
              transform: translateY(-100%);
            }

            p:last-of-type {
              transform: translateY(-100%);
            }
          }

          @include m($xl) {
            padding: 0 0 16px 24px;
          }

          @include m($lg) {
            padding: 0 0 10px 24px;
          }
        }
      }

      @include m($xl) {
        grid-gap: 12px 50px;
        margin: 0 0 0 auto;
      }

      @include m($lg) {
        margin: 32px 0 0;
      }

      @include m(630) {
        grid-gap: 10px 0;
        grid-template-columns: 1fr;
      }
    }

    @include m($lg) {
      flex-direction: column;
    }
  }

  @include m($xl) {
    padding: 85px 0;
  }

  @include m($lg) {
    padding: 64px 0;
  }
}

.about {
  position: relative;
  z-index: 1;
  padding: 120px 0;
  overflow: hidden;
  background-color: #f0f5ff;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
    width: 100%;
    height: 100%;
    max-width: 71%;
    background-image: url("../images/map.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    transform: translateY(-50%);

    @include m($md) {
      display: none;
    }
  }

  img {
    display: none;
    margin-top: 32px;
    width: 100%;
    min-height: 195px;
    max-height: 300px;
    object-fit: contain;

    @include m($md) {
      display: block;
    }
  }

  .container {
    z-index: 10;
  }

  h3 {
    @include rv-line;

    z-index: 5;
    margin-bottom: 66px;

    @include m($lg) {
      margin-bottom: 58px;
    }
  }

  &__info {
    z-index: 5;
    margin-bottom: 40px;
    max-width: 588px;

    p {
      color: #394b65;

      &:not(:last-child) {
        margin-bottom: 28px;

        @include m($xl) {
          margin-bottom: 26px;
        }
      }

      @include m($xl) {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  @include m($xl) {
    padding: 85px 0;
  }

  @include m($lg) {
    padding: 64px 0;
  }
}

.why {
  padding: 120px 0;

  h3 {
    @include rv-line;

    margin: 0 auto 66px;
    text-align: center;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }

    @include m($lg) {
      margin: 0 auto 58px;
      font-size: 32px;
    }
  }

  p {
    margin: 0 auto;
    max-width: 655px;
    text-align: center;
    color: #394b65;

    &:not(:last-child) {
      margin-bottom: 28px;

      @include m($xl) {
        margin-bottom: 26px;
      }
    }

    @include m($xl) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    margin: 48px 0 auto;

    li {
      width: 100%;
      max-width: 204px;
      text-align: center;

      + li {
        margin-left: 39px;

        @include m($lg) {
          margin-left: 25px;
        }

        @include m($md) {
          margin-left: 20px;
        }

        @include m(640) {
          margin-top: 39px;
          margin-left: 0;
        }
      }

      @include m(640) {
        max-width: 100%;
      }
    }

    h2 {
      margin-bottom: 12px;
      font-size: 50px;
      line-height: 58px;
      color: #09268d;
    }

    span {
      display: block;
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      color: #09268d;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: #394b65;
    }

    @include m($lg) {
      margin: 32px 0 auto;
    }

    @include m(640) {
      flex-direction: column;
    }
  }

  @include m($xl) {
    padding: 85px 0;
  }

  @include m($lg) {
    padding: 72px 0 64px;
  }
}